@font-face {
  font-family: 'NType82-bold';
  src: url('path/to/NType82-bold.woff2') format('woff2'),
       url('path/to/NType82-bold.woff') format('woff');
}

@font-face {
  font-family: 'Noto Sans Thai';
  src: url('path/to/NotoSansThai.woff2') format('woff2'),
       url('path/to/NotoSansThai.woff') format('woff');
}

@font-face {
  font-family: 'NType82Mono';
  src: url('path/to/NType82Mono.woff2') format('woff2'),
       url('path/to/NType82Mono.woff') format('woff');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
   font-family: "NType82-bold", 'Noto Sans Thai', 'NType82Mono';
}